<header>
    <div>
        <h1><a href="/">Atuendos Encanto</a></h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                 <li><a href="/articulos">Artículos</a></li>
            </ul>
        </nav>
    </div>
</header>