/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Arial, sans-serif;
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  background-color:  rgb(105, 53, 53) !important;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: burlywood;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
h2 {
  background-color:burlywood;
}

label{color: whitesmoke;
}

body h1 {color: whitesmoke;
}


p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto 2rem;
  line-height: 1.6;
  text-align: center;
  color:#fff
}

a {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: burlywood;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #e69e19;
}

div {
  text-align: center;
  padding: 4rem 2rem;
  flex-grow: 1;
}

/* Footer fijo abajo */
footer {
  background-color: #111;
  color: #ccc;
  padding: 1rem 0;
  text-align: center;
  margin-top: auto;
}

/* Responsive */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    padding: 0 1rem;
  }

  a {
    padding: 0.6rem 1.2rem;
  }
}