<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atuendos Encanto - Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    
    <div>
        <h1>Atuendos Encanto</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatibus officiis cum amet sequi repudiandae distinctio perferendis rerum mollitia vitae asperiores, 
            nulla optio id pariatur esse eum iusto quia deleniti.</p>
        <a href="/articulos">Ver Articulos</a>
    </div>

    <%- include('partials/footer') %>
</body>
</html>